//- head_tags.pug, block keyword added for processing purpose.
//- jade library doesn't process this file.
block head
  link(rel='icon', href='/favicon.png')
  link(href='/static/css/aah.css', rel='stylesheet')
