//- master.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    include "head_tags.pug" .
  body
    block content
    include "footer_scripts.pug" .
